#pink-cloud{position:relative;margin:0 -40px 96px;scroll-margin-top:100px;background:#fff}
#pink-cloud img{display:block;width:100%;height:auto;aspect-ratio:8/3;pointer-events:none}
#pink-cloud [hidden]{display:none}
#blue-mountains{margin:0 -40px 96px;background:#307abc;scroll-margin-top:100px;overflow:hidden}
#blue-mountains img{display:block;width:100%;height:auto;aspect-ratio:16/9;object-fit:cover}
@media(max-width:700px){
  #pink-cloud{margin:0 -20px 64px}
  #blue-mountains{margin:0 -20px 64px}
}
